[Unit]
Description=Generate VersityGW root secrets
Before=versitygw.service versitygw-bootstrap.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/versitygw-gensecrets.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
